<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="basic" type="basicHttpBinding"/>
        <add name="webBind" type="webHttpBinding"/>
        <add name="ws*bind" type="wsHttpBinding"/>
      </bindingExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WebService.LoginService" behaviorConfiguration="mexBehaviour">
        <endpoint address="LoginService" binding="wsHttpBinding" contract="WebService.ILoginService"/>
        <endpoint address="LoginService" binding="netTcpBinding" contract="WebService.ILoginService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
            <add baseAddress="net.tcp://localhost:8081/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="WebService.RegistrationPhaseI" behaviorConfiguration="mexBehaviour">
        <endpoint address="RegistrationPhaseI" binding="wsHttpBinding" contract="WebService.IRegistrationPhaseI"/>
        <endpoint address="RegistrationPhaseI" binding="netTcpBinding" contract="WebService.IRegistrationPhaseI"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082/"/>
            <add baseAddress="net.tcp://localhost:8083/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>